.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Block {
    background-color: rgb(255, 255, 255);
    width: 20em;
    height: 20em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.Block:hover {
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.Block-text {
    justify-items: center;
    text-align: center;
    text-transform: capitalize;
}